/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
.section-header {
    padding-bottom: 40px;
  }
  
  .section-header h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    font-family: var(--font-primary);
  }
  
  .section-header h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #5bd9a9;
    margin: 4px 10px;
  }
  
  .section-header p {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    font-family: var(--font-secondary);
    color: #111010;
  }
  


body {
    background-color: #fff;
  }

/* Smooth scroll behavior */
:root {
    scroll-behavior: smooth;
  }
/*--------------------------------------------------------------
# Page Header
--------------------------------------------------------------*/
.page-header {
    padding: 120px 0 60px 0;
    min-height: 30vh;
    position: relative;
  }
  
  .page-header h2 {
    font-size: 56px;
    font-weight: 500;
    color: #000000;
    font-family: var(--font-secondary);
  }
  
  @media (max-width: 768px) {
    .page-header h2 {
      font-size: 36px;
    }
  }
  
  .page-header p {
    color: rgba(2, 2, 2, 0.8);
  }
  
  .page-header .cta-btn {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 4px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.3s;
    color: #000000;
    background: var(--color-primary);
  }
  
  .page-header .cta-btn:hover {
    background: #2cbc85;
  }
  /*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/

.about .content h2 {
    font-weight: 700;
    font-size: 24px;
    color: black;
  }
  
  
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .about .content ul strong {
    margin-right: 10px;
  }
  
  .about .content ul i {
    font-size: 16px;
    margin-right: 5px;
    color: var(--color-primary);
    line-height: 0;
  }
  