<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Details</title>
</head>

<body>
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Portfolio Details</h2>
                <ol>
                    <li><a [routerLink]="['/home']">Home</a></li>
                    <li>Portfolio Details</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="assets/images/PharmacyApp.png" alt="Project 1">
                            </div>
                            <div class="swiper-slide">
                                <img src="assets/images/PharmacyApp-System-Design.drawio.png" alt="Project 2">
                            </div>
                            <div class="swiper-slide">
                                <img src="assets/images/PharmacyApp.png" alt="Project 3">
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Project Information</h3>
                        <ul>
                            <li><strong>Category</strong>: Full Stack Angular/Spring Web Application</li>
                            <li><strong>Client</strong>: Personal Project</li>
                            <li><strong>Project date</strong>: 01 March, 2023</li>
                            <li><strong>Project URL</strong>: <a href="#">www.pharmacyapp.com</a></li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>Pharmacy App</h2>
                        <p>
                            1. Technology Stack
                            The Pharmacy App utilizes the following technology stack:

                            Backend

                            Java 19
                            Spring Boot framework
                            MySQL Workbench Relational Database
                            Lombok for code generation
                            Spring JDBC for database connectivity

                            Frontend

                            Angular (TypeScript)
                            Bootstrap for responsive UI design
                            HTML and CSS (latest versions) for markup and styling
                        </p>
                        <br>
                        <p>
                            2. Functional Requirements

                            The Pharmacy App includes the following functional requirements:

                            User Management

                            Allow users to register and create an account.
                            Enable users to log in and authenticate securely.
                            Provide role-based access control to manage user permissions.

                            Customer Management

                            Allow users to add, view, update, and delete customer records.
                            Capture customer information, including name, contact details, and address.
                            Associate customers with user accounts for tracking purposes.

                            Inventory Management

                            Provide functionalities to add, view, update, and delete medication inventory.
                            Capture medication details, including name, description, quantity, and price
                            Track medication stock levels and provide notifications for low inventory.

                            Prescription Management

                            Enable users to create, view, update, and delete prescriptions.
                            Capture prescription details, including customer information, doctor's name, and issue
                            date.
                            Associate prescriptions with customers for easy reference.

                            Medication Management 

                            Allow users to add, view, update, and delete medications within prescriptions.
                            Capture medication details, including name, dosage, and frequency.
                            Track medications associated with specific prescriptions.

                            Invoice Management

                            Provide functionalities to generate and manage customer invoices.
                            Capture invoice details, including customer information, amount, due date, and payment
                            status.
                            Allow users to mark invoices as paid and track payment status.
                        </p>
                        <br>
                        <p>
                            3. Non-Functional Requirements

                            The Pharmacy App includes the following non-functional requirements:

                            Performance

                            The application should handle a large number of concurrent users without significant
                            performance degradation.
                            Database queries should be optimized to ensure fast and efficient data retrieval and
                            updates.

                            Security

                            User authentication and authorization should be implemented securely using industry best
                            practices.
                            User passwords should be stored securely using encryption techniques.
                            User sessions should be managed securely to prevent unauthorized access.

                            Usability

                            The user interface should be intuitive and user-friendly.
                            Proper validation and error handling should be implemented to provide informative feedback
                            to users.
                            The application should be responsive and compatible with different devices and screen
                            sizes.

                            Reliability
                            The application should be highly reliable and available, with minimal downtime.
                            Data integrity should be maintained, ensuring accurate and consistent information storage
                            and retrieval.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Portfolio Details Section -->
</body>

</html>