<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <!-- Image Start -->
    <div class="image">
      <img class="image-img" src="assets/images/Shaun.jpg" alt="Thabiso Matsaba Photo" />
     <div class="image-overlay">
        <div class="image-title">Thabiso Matsaba</div>
      <p class="image-description">Junior Full Stack Developer</p>
     </div>
   </div>
  </body>
</html>
