<p>services works!</p>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Services</title>
</head>

<body>
  <section id="services" class="services section-bg" data-aos="fade-up">
    <div class="container">

      <div class="section-title">
        <h2>Services</h2>
        <div class="title-underline"></div>
        <p>I offer a range of professional services to meet your needs.</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon"><mat-icon>code</mat-icon></div>
          <h4 class="title"><a href="https://thee-best.netlify.app/">Front-End Development</a></h4>
          <p class="description">
            I specialize in creating intuitive and responsive user interfaces. From building interactive web
            applications to crafting visually appealing websites, I ensure a seamless user experience on the front end.
          </p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon"><mat-icon>build</mat-icon></div>
          <h4 class="title"><a href="#">Back-End Development</a></h4>
          <p class="description">
            My expertise extends to server-side development, where I design and implement robust APIs and backend
            systems. I focus on performance, security, and scalability to power your applications.
          </p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon"><mat-icon>storage</mat-icon></div>
          <h4 class="title"><a href="#">Database Management</a></h4>
          <p class="description">
            Efficient data management is crucial. I handle databases with precision, optimizing queries, ensuring data
            integrity, and utilizing the right database solutions for your application's needs.
          </p>
        </div>
      </div>
    </div>
  </section>
</body>

</html>