<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Testimonials</title>
</head>

<body>
  <section id="testimonials" class="testimonials section-bg">
    <div class="container">
      <div class="section-title">
        <h2>Testimonials</h2>
        <p>Check out below what the people I have met and collaborated with have to say about me</p>
      </div>
      <div class="testimonials-container">
        <div *ngFor="let testimonial of testimonials; let i = index" class="testimonial-item"
             [@slide]="{ value: selectedIndex === i ? 0 : '100%', params: { from: selectedIndex === i ? '100%' : 0, to: 0 } }"
             [@fade]="i === selectedIndex ? 'visible' : 'hidden'">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            {{ testimonial.quote }}
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img [src]="testimonial.image" class="testimonial-img" alt="">
          <h3>{{ testimonial.name }}</h3>
          <h4>{{ testimonial.designation }}</h4>
        </div>
      </div>

      <div class="pagination">
        <span *ngFor="let testimonial of testimonials; let i = index" (click)="selectTestimonial(i)" [class.active]="i === selectedIndex"></span>
      </div>
    </div>
  </section>
</body>

</html>
