<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume</title>
  </head>
  <body>
    <section id="resume" class="resume">
      <div class="container">
        <div class="section-title">
          <div class="grng seid">
            <div class="row">
              <div class="col-lg-6" data-aos="fade-up">
                <h2 class="resume-title">
                  <i class="bx bxs-book"></i>EDUCATION
                </h2>
                <div class="resume-item">
                  <p>January 2020 – November 2022</p>
                  <p>Cape Town, South Africa</p>
                  <p>National Diploma in ICT: Applications Development</p>
                  <p>Cape Peninsula University of Technology</p>
                  <p>January 2010 – November 2014</p>
                  <p>Cape Town, South Africa</p>
                  <p>Matric</p>
                  <p>Sinako High School</p>
                </div>
                <div class="resume-item">
                  <h2>
                    <img
                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAA
                      VFJREFUSEu11b8rRWEcx/EXg5JQsjAQMyUjJjblH5DBYPJrMJDMCtmwIqXYLVIyGIxklqJkIWwM0lPn3I7bce91z73P9
                      JznOc/n/e37s0aVV02V9ZUCGMAxjrCKWixjCmO4LGRkMUAQu0ZvJPIeARqj71v04fsvSBqgHZOoQ2e0L2TkLh7xhX08J
                      X9OA6xjsczYbGCpGGAbM2UCdjBbCFCPEwyXCTjHKD7j90kXDeIA3WWKx8/uMIGrcJAEvKE5o3j8/Blt+YDgv+kKAUIc5
                      /IBLXhAQ0bIB7rwmga4R1O1AJV00RbmqxnkF7TmA4ZwiI6MLgpuHk9L06CbtdDOog6bWmix4VlaRS490yo5PsvS7NaiW
                      ZHzciXa9V5UPyW362SMw8C5QU9i4IRt3FLCXf9/B05+Eo3gFJsILghrBQsIdxeFsq7YyMyYsb+7aWaxNIEfCME8GbXjuu
                      QAAAAASUVORK5CYII="
                    />
                    CERTIFICATES
                  </h2>
                  <ul>
                    <li>SAP S/4 HANA Financial Accounting and Controlling</li>
                    <li>Accounts Payable and Receivable</li>
                  </ul>
                </div>
                <div class="col-lg-6" data-aos="fade-up">
                  <h2 class="resume-title">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QA
                    AAZZJREFUSEu11b1LV3EUBvCPYL4MjZIlKJaDQzm5iEWDg9JQiw0NLo4u+g/o0BY0iIujmzgIDRFBLdqL7UpLYiSYBIqCEB
                    QhyJEr/Lzda99repYL9x6e55zzPOfcOpccdZeM7zwEdzCBXtzCKhYwU1RsVYJxPENjDdgW+hDPv6IKwVNM5hB+ZODfykadS
                    jCE1zmQXfTjy1k6phK8woMc0GMsFoC3YgxT8S2V4A/qc2A7GMBazfsWfMBV3EglCEF/lYxhH/fwGQH+Dt1ZbhR0mNpBiHmt
                    hGQPw5hGT5bzG02pHUTePJ5UWMqXeJhK0JnN9XimiTGINykEHfiItkTgSJvD6En+WRrEGViuCP4CI/j5L4KbeH9itVz13/E
                    Jj3Al+/YVzzGb77Sog67MbtcLxrKd2TIAwyW3sYGwa2HkCaLylRJLRuVxGjYr6HFqk2Mx4q6Ea/IRlQd46VFL6SDmuY5wTm
                    3EGb5btfIykduxVNNFjOP+ecHL9iDEfYvmDLzwR5KqQ9kehEMacJAKlKLB/2Il2fTCSY4AS1k+GY8RuzwAAAAASUVORK5CY
                    II="/>SKILLS
                  </h2>
                  <div class="resume-item">
                    <ul>
                      <li>Java SE</li>
                      <li>Fluent in the Java programming language</li>
                      <li>Git/Github - Version Control</li>
                      <li>Design Patterns and Principles</li>
                      <li>Object-Oriented Programming</li>
                      <li>Angular - Single Page Application Development</li>
                      <li>Spring Boot - Restful Web Services</li>
                      <li>HTML, CSS & JavaScript - Front-End Development</li>
                      <li>
                        IntelliJ IDEA, NetBeans - Integrated Development
                        Environment
                      </li>
                      <li>
                        SAP S/4 HANA Financial Accounting and Controlling -
                        Accounts Payable and Receivable
                      </li>
                      <li>
                        Relational Database Management - MySQL, PHP Admin, MySQL
                        Workbench, SQL
                      </li>
                      <li>Android Studio - Java Development IDE</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-6" data-aos="fade-up">
                <h2 class="resume-title">
                  <i class="bx bxs-briefcase"></i>PROFESSIONAL EXPERIENCE
                </h2>
                <div class="resume-item">
                  <p>Vocation Work Student</p>
                  <p>South African Radio and Astronomy Observatory (SARAO)</p>
                  <p>Cape Town, South Africa</p>
                  <p>December 2022 – January 2023</p>
                  <p>
                    I worked at the Software Department as a vocation work
                    student. I learnt from my mentor Angular and Python best
                    practices, how to write efficient, clean and easy to follow
                    code.
                  </p>
                </div>
                <div class="resume-item">
                  <p>Pharmacy App</p>
                  <p>01 January 2023 – 14 December 2023</p>
                  <p>
                    A full-stack web application designed to streamline pharmacy
                    operations and manage customers, inventory, prescriptions,
                    medications, and invoices.
                  </p>
                  <p>
                    Technologies used: Java 19, Spring Boot, MySQL Workbench,
                    Angular (TypeScript), Bootstrap, HTML, CSS
                  </p>
                  <p>
                    <a href="https://github.com/220296006/PharmacyApp"
                      >GitHub Link</a
                    >
                  </p>

                  <!-- Add the VP Bank App project here -->
                  <p>VP Bank App</p>
                  <p>01 November 2023 – 15 November 2023</p>
                  <p>
                    A banking application designed to provide users with a
                    seamless and secure banking experience.
                  </p>
                  <p>
                    Technologies used: Python, Flask, SQLAlchemy, JWT, SMTP,
                    Tkinter
                  </p>
                  <p>
                    <a href="https://github.com/220296006/banking-app-py-master"
                      >GitHub Link</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div #scrollToTopElement style="position: fixed; top: 0"></div>
  </body>
</html>
