<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Resume</title>
</head>
<body>
  <section id="resume" class="resume">
    <div class="container">
      <div class="section-title">
        <div class="grid">
          <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
              <h1 class="resume-title">Thabiso Patrick Matsaba</h1>
              <div class="resume-item pb-0">
                <p>41578 Ndyondyo Street</p>
                <p>0730493949</p>
                <p>Single</p>
                <p>Male</p>
                <p><a href="https://github.com/220296006">GitHub Profile</a></p>
                <p>22nd December 1996</p>
                <p>South African</p>
                <p>
                  <a href="https://www.linkedin.com/in/thabiso-matsaba-b4289616b/">LinkedIn Profile</a>
                </p>
              </div>
                <h2 class="resume-title">EDUCATION</h2>
                <div class="resume-item">
                  <p>January 2020 – November 2022</p>
                  <p>Cape Town, South Africa</p>
                  <p>National Diploma in ICT: Applications Development</p>
                  <p>Cape Peninsula University of Technology</p>
                  <p>January 2010 – November 2014</p>
                  <p>Cape Town, South Africa</p>
                  <p>Matric</p>
                  <p>Sinako High School</p>
                </div>
                </div>

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h2 class="resume-title">SKILLS</h2>
                <div class="resume-item">
                  <ul>
                    <li>Java SE</li>
                    <li>Fluent in the Java programming language</li>
                    <li>Git/Github - Version Control</li>
                    <li>Design Patterns and Principles</li>
                    <li>Object-Oriented Programming</li>
                    <li>Angular - Single Page Application Development</li>
                    <li>Spring Boot - Restful Web Services</li>
                    <li>HTML, CSS & JavaScript - Front-End Development</li>
                    <li>
                      IntelliJ IDEA, NetBeans - Integrated Development Environment
                    </li>
                    <li>
                      SAP S/4 HANA Financial Accounting and Controlling - Accounts
                      Payable and Receivable
                    </li>
                    <li>
                      Relational Database Management - MySQL, PHP Admin, MySQL
                      Workbench, SQL
                    </li>
                    <li>Android Studio - Java Development IDE</li>
                  </ul>
                </div>
                <div class="resume-item">
                  <h2 class="resume-title">PROJECTS</h2>
                  <p>Media Watch List</p>
                  <p>December 2022 – January 2023</p>
                  <p>
                    Keeps track of the media I want to watch. Angular web
                    application.
                  </p>
                  <p>
                    <a href="https://github.com/220296006/MediaWatchList.git">GitHub Link</a>
                  </p>
                  <p>Pharmacy Management System</p>
                  <p>February 2022 – December 2022</p>
                  <p>
                    We designed and developed a Pharmacy Management System in
                    IntelliJ IDE using Java and Spring Boot for the Back-end. For
                    the database we used MySQL Workbench. For the presentation
                    layer we used JavaGUI Drag and Drop components.
                  </p>
                  <a href="https://github.com/220296006/ADP3-Assignment1-Group10-PharmacySystem.git">GitHub Link 1</a>
                  <a href="https://github.com/220296006/PharmacySystemGUI.git">GitHub Link 2</a>
                  <p>Medi-Station</p>
                  <p>February 2022 – November 2022</p>
                  <p>
                    We designed and developed a private doctor application in
                    Android Application using Android Studio IDE.
                  </p>
                  <a href="https://github.com/220296006/Project3-Group10.git">GitHub Link</a>
                </div>
              </div>
            

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <h2 class="resume-title">PROFESSIONAL EXPERIENCE</h2>
              <div class="resume-item">
                <p>Vocation Work Student</p>
                <p>South African Radio and Astronomy Observatory (SARAO)</p>
                <p>Cape Town, South Africa</p>
                <p>December 2022 – January 2023</p>
                <p>
                  I worked at the Software Department as a vocation work
                  student. I learnt from my mentor Angular and Python best
                  practice's, how to write efficient, clean and easy to follow
                  code.
                </p>
              </div>
                <h2 class="resume-title">CERTIFICATES</h2>
                <div class="resume-item">
                  <ul>
                    <li>SAP S/4 HANA Financial Accounting and Controlling</li>
                    <li>Accounts Payable and Receivable</li>
                  </ul>
                </div>
              </div>
      
      
            <!-- Add more professional experiences as needed -->
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <div class="resume-item">
                <h3>DECLARATION</h3>
                <p>I declare the above information true and correct</p>
                <p>Thabiso Patrick Matsaba</p>
                <p>22/11/2022</p>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
  </section>
</body>

</html>